.profileTitle {
  text-align: right; /* Centers the title */
  font-size: 38px; /* Sets a larger font size for the title */
  color: #333; /* Sets a dark color for the title */
}

.profileContainer {
  display: flex;
  background-color: #999; /* Sets a white background */
  border-radius: 8px; /* Adds rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*  Adds a subtle shadow */
  padding: 10px; /* Adds padding around the profile */
}

.profilePictureWrapper{
  align-items: left;
}

.profileDetails {
  flex: 1; /* Makes this div take the remaining space */
  text-align: right;
}

.profileDetails h1 {
  font-size: 18px; /* Sets a font size for the name */
}

.profileDetails p {
  margin: 5px 0; /* Adds a little space between paragraphs */
  color: #333; /* Sets a dark color for the text */
}
